.myWorksBlock {
    min-height: 100vh;
    background-color: #191919;
    display: flex;
    align-items: center;
    
}

.myWorksContainer {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .title {
    background-color: #eeeef5;
} */
.block {
    display: flex;
    width: 80%;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 910px){
    .block{
        justify-content: center;
    }
}