.contactsBlock {
  min-height: 100vh;
  background-color: rgb(240, 185, 185);
  display: flex;
  align-items: center;
  .block {
    border: 2px solid black;
    height: 70vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    @media (max-width: 600px){
      &{
        border: none;
      }
    }
    h2 {
      margin: 0 auto;
      background: rgb(194, 193, 193);
    }
    button {
      margin: 0 auto;
    width: 150px;
    height: 8%;
    font-size: 18px;
    font-weight: bold;
    background-color: gray;
  }
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      border: 1px black solid;
      width: 50%;
      height: 50%;
      textarea {
        height: 60%;
      }
      input {
        height: 12%;
      }
    }
  }
}


@media (max-width: 600px){
  
  .contacts{
    width: 80%;
    height: 80%;
  }
  .contacts textarea, input {
    font-size: 20px;
  }


}